#rf-stats {
    display: flex;
    gap: 25px;
    margin-bottom: 12px;
    color: #0ff;
    text-shadow: 0 0 6px #0ff;
}

#rf-log {
    background: #050505;
    border: 1px solid #0ff4;
    height: 260px;
    overflow-y: auto;
    padding: 10px;
    color: #0ff;
    font-family: monospace;
    box-shadow: inset 0 0 15px #0ff3;
}
